.d1,
.d2,
.d3,
.d4,
.d5,
.d6 {
    color: aliceblue;
    text-align: center;
    font-size: 200%;
    border: 0.06em white solid;
}

.d1 {
    background-color: aquamarine;
}

.d2 {
    background-color: rgb(255, 255, 165);
}

.d3 {
    background-color: rgb(88, 255, 255);
}

.d4 {
    background-color: rgba(248, 212, 248, 0.932)
}

.d5 {
    background-color: rgb(196, 247, 195);
}

.d6 {
    background-color: rgb(247, 190, 105);
}